/* You can add global styles to this file, and also import other style files */
body.dark-theme {
  background-color: #141414;
  color: white;
}

/* الوضع الفاتح */
body {
  background-color: white;
  color: black;
}
